# https://github.com/direnv/direnv
# https://github.com/nix-community/nix-direnv

# "nix-direnv-reload" to force reload if any problems with cache not being rebuilt
# nix_direnv_manual_reload
use nix # or "use flake" if flake
export PROJECT_NAME=mdbook-tools
